
.site-main{
	background-color: #8acaf0;
}
.calculator{
	position: relative;
	width:100%;
	max-width: 340px;
	padding:20px;
	border-radius: 24px;
	margin:auto;
	margin-bottom:20px;
	box-shadow:  20px 20px 40px #80bcdf, 
             -20px -20px 40px #94d8ff;
}


.input-wrap{
	padding:12px;
	border-radius: 12px;
	margin:10px;
	margin-bottom:30px;
	box-shadow:  8px 8px 12px #80bcdf, 
             -8px -8px 12px #94d8ff;
}
input{
	width: 100%;
	border:none;
	line-height: 1;
	margin:0;
	padding:0;
	border-radius: 4px;
	text-align: right;
	color:#03507c;
	background-color: transparent;
}
input:focus{
	outline: none;
}

#display{
	font-size: 20px;
	margin-bottom:4px;
}
#result{
	font-size: 32px;
}
.btn-wrap{
	width: 100%;
	font-size: 0;
}
.btn{
	display: inline-block;
	width: calc(25% - 20px);
	margin:10px;
	padding:0 10px;
	height: 50px;
	line-height: 50px;
	border-radius: 8px;
	text-align: center;
	color:#03507c;
	font-size: 20px;
	box-shadow:  8px 8px 12px #80bcdf, 
             -8px -8px 12px #94d8ff;
	transition: 0.5s;
}
.reset-btn,
.zero-btn{
	width:calc(50% - 20px);
}
/* .number{
	background: #59baf3;
	box-shadow:  8px 8px 12px #53ade2, 
	-8px -8px 12px #5fc7ff;
} */
.btn:hover{
	cursor: pointer;
	background-color: #91cff2;
	box-shadow:  4px 4px 8px #80bcdf, 
             -4px -4px 8px #94d8ff;
}
.result-btn{
	background-color: #004fff;
	color:#fff;
}
.result-btn:hover{
	background-color: #004fff;
}
/* ------------------------- */
/* Responsive 혹시 모를 반응형 처리 */
/* ------------------------- */

@media only screen and (max-width: 480px) {
	.calculator{
		max-width: 300px;
	}
	.btn{
		height: 45px;
		line-height: 45px;
	}
}